{# src/LeHibouc/EBookLibraryBundle/Resources/views/Management/edit.html.twig #}

{% extends "EBookLibraryBundle::layout.html.twig" %}

{% block library_content %}

	<h2>Edit a book</h2>

	TODO

{% endblock %}