{# src/LeHibouc/EBookLibraryBundle/Resources/views/Management/edit.html.twig #}

{% extends "EBookLibraryBundle::layout.html.twig" %}

{% block library_content %}

	<h2>Edit Book : {{ book.title }}</h2>

	<h3> File : {{ book.getEpubFile().getAbsoluteFilePath() }} </h3>

	{{ include("EBookLibraryBundle:Management:form.html.twig") }}

	<p>
		<a href="{{ path('library_book', {'slug': book.slug}) }}" class="btn btn-default">
		  <i class="glyphicon glyphicon-chevron-left"></i>
		  Cancel
		</a> 
	</p>

{% endblock %}