{# src/LeHibouc/AppBundle/Resources/views/Default/index.html.twig #}

{% extends "AppBundle::layout.html.twig" %}

{% block left_menu %}
	<ul class="nav nav-pills nav-stacked">
  		<li>Accueil</li>
  		<li>Rechercher un livre</li>
	</ul>

	<h4>Nouveauté</h4>
	{{ render(controller("EBookLibraryBundle:Default:latest", {'limit': 3})) }}
{% endblock %}

{% block middle_body %}
  {{ render(controller("EBookLibraryBundle:Default:index")) }}
{% endblock %}