{# src/LeHibouc/EBookLibraryBundle/Resources/views/layout.html.twig #}

{% extends "::layout.html.twig" %}

{% block body %}

	{% for key, messages in app.session.flashbag.all() %}
		<div class="alert alert-{{ key }}">
		  {% for message in messages %}
		  	{{ message }}
		  {% endfor %}
		</div>
	{% endfor %}

	{% block library_content %}
	{% endblock %}

{% endblock %}