{# src/LeHibouc/EBookLibraryBundle/Resources/views/Default/add.html.twig #}

{% extends "AppBundle::layout.html.twig" %}

{% block body %}

<h2>Add a book</h2>

{{ include("EBookLibraryBundle:Default:form.html.twig") }}

{% endblock %}
