{# src/LeHibouc/EBookLibraryBundle/Resources/views/Default/book.html.twig #}

{% extends "EBookLibraryBundle::layout.html.twig" %}

{% block library_content %}

	<h2> {{ book.title }} </h2>
	<h3> by {{ book.author }} </h3>

	<h3> Language : {{ book.language }} </h3>

	<h5> Abstract : </h5>
	<p> {{ book.abstract }} </p>

{% endblock %}