{# src/LeHibouc/AppBundle/Resources/views/User/index.html.twig #}

{% extends "AppBundle::layout.html.twig" %}

{% block fos_user_content %}

	 <h2> {{ app.user.username }}'s Books </h2>

	 <p>
	 	{% if list is empty %}
	 		You have no book borrowed
	 	{% else %}
	 		<ul>
	 		{% for book in list %}
	 			<li>Prout</li>
	 		{% endfor %}
	 		</ul>
	 	{% endif %}
	 </p>
 
{% endblock fos_user_content %}
