{# src/LeHibouc/AppBundle/Resources/views/layout.html.twig #}

{% extends "::layout.html.twig" %}

{% block body %}
  <div class="container">
    <div id="header" class="jumbotron">
      <h1>Le Hibouc</h1>
      <p>
        The Online Community Library
      </p>
      {% block top_menu %}
      {% endblock %}
    </div>

    <div class="row">
      <div id="menu" class="col-md-3">
      	{% block left_menu %}
      	{% endblock %}
      </div>
      <div id="content" class="col-md-9">
        {% block middle_body %}
        {% endblock %}
      </div>
    </div>

    <hr>
    <footer>
      <p>Le Hibouc <img src="copyleft.svg" alt="copyleft" style="width:12px;height:12px;"> {{ 'now'|date('Y') }} and beyond.</p>
    </footer>
  </div>

  {% endblock %}
